.container {
    transform: translateY(-4rem);
    z-index: 5;
}
.dashboard_searchbox, .container {
    display: flex;
    justify-content: center;
}
.dashboard_searchbox {
    .searchbox {
        width: 100%;
        box-shadow: none;
        border: 1px solid var(--border-ash);
    }
    .input_sections {
        justify-content: space-between;
    }
}
.searchbox {
    background-color: var(--wizard);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    padding: 1.5rem;
}
.options {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 10%;
}
.option {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    padding: 0 0.5rem;
    .option_text {
        font-size: 1.1rem;
        cursor: pointer;
    }
}
.active {
    width: 100%;
    background: transparent;
    height: 4px;
}
.bar {
    background-color: var(--accent);
    height: 100%;
    width: 50%;
    transition: 0.2s;
}
.buy {
    transform: translateX(100%);
}
.input_sections {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 1rem;
    .input_field {
        width: 18rem;
        position: relative;
        .icon {
            position: absolute;
            top: 40%;
            right: 7%;
            color: var(--light-accent);
        }
    }
    .submit_button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--accent);
        border-radius: var(--border-radius);
        padding: 20px;
        color: var(--wizard);
        transition: 0.2s ease-out;
    }
    .submit_button:hover {
        background-color: var(--dark);
    }
    .input_field:nth-child(1), .input_field:nth-child(2) {
        border-right: 1px solid var(--border-ash);
    }
    .labels {
        font-size: 1.1rem;
        font-weight: 500;
    }
    .inputs {
        font-size: 1rem;
        font-family: var(--font-inter);
        height: 2rem;
        width: 80%;
    }
}
@media (max-width:640px) {
    .container {
        transform: translateY(0);
        display: block;
        padding: var(--mobile-box-padding);
        .searchbox {
            background-color: var(--wizard);
            border-radius: var(--border-radius);
            box-shadow: none;
            border:  1px solid var(--border-ash);
            padding: var(--mobile-box-padding);
        }
        .options {
            width: 100%;
        }
        .option {
            padding: 0;
            gap: 10rem;
            .option_text {
                font-weight: 500;
                font-size: 1.1rem;
                cursor: pointer;
                z-index: 2;
                transition: 0.2s ease-out;
            }
            .active_text {
                color: var(--wizard);
            }
        }
        .active {
            height: 2rem;
            position: relative;
        }
        .bar {
            border-radius: var(--border-radius);
            position: absolute;
            top: -100%;
            z-index: 0;
        }
        .input_sections {
            flex-direction: column;
            width: 100%;
            .input_field:nth-child(1), .input_field:nth-child(2) {
                border-right: 0;
            }
            .input_field {
                border-bottom: 1px solid var(--border-ash);
                height: 5rem;
                width: 100%;
                align-items: center;
            }
            .inputs::before {
                content: "";
                background-color: red;
                height: 10px;
                width: 10px;

            }
        }
        .submit_button {
            width: 100%;
        }
        
    }
}